<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto py-12">
        <h1 class="text-3xl font-bold text-center mb-6">Gestion des URL</h1>
        <div id="urlList" class="space-y-4 mb-6">
        </div>
        <div class="flex justify-between">
            <button onclick="addUrlField()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition ease-in-out duration-150">Ajouter URL</button>
            <div id="messageContainer" class="mb-4"></div>
            <button onclick="saveUrls()" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition ease-in-out duration-150">Enregistrer les URL</button>
        </div>
    </div>

    <script type="text/javascript">
        function addUrlField(url = '') {
            const container = document.getElementById('urlList');
            const inputGroup = document.createElement('div');
            inputGroup.className = 'flex items-center space-x-2';
            inputGroup.innerHTML = `
                <input type="text" class="flex-1 p-2 border border-gray-300 rounded w-full" value="${url}" placeholder="Enter URL">
                <button onclick="removeUrlField(this)" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700 transition ease-in-out duration-150">Supprimer</button>
            `;
            container.appendChild(inputGroup);
        }

        function removeUrlField(button) {
            button.parentNode.remove();
        }

        function saveUrls() {
            const inputs = document.querySelectorAll('#urlList input[type="text"]');
            const urls = Array.from(inputs).map(input => input.value).join('\n');
            const messageContainer = document.getElementById('messageContainer');

            fetch('/update-urls', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain',
                },
                body: urls,
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Erreur réseau');
            })
            .then(message => {
                messageContainer.innerHTML = `<div class="text-sm text-green-700 bg-green-100 border border-green-400 px-4 py-3 rounded relative" role="alert">${message}</div>`;
                setTimeout(() => messageContainer.innerHTML = '', 3000); // Clear message after 3 seconds
            })
            .catch(error => {
                console.error('Il y a eu un problème avec la sauvegarde des URL:', error);
                messageContainer.innerHTML = `<div class="text-sm text-red-700 bg-red-100 border border-red-400 px-4 py-3 rounded relative" role="alert">Erreur de sauvegarde des URL: ${error.message}</div>`;
                setTimeout(() => messageContainer.innerHTML = '', 3000); // Clear message after 3 seconds
            });
        }

        window.onload = function() {
            fetch('/get-urls')
            .then(response => response.text())
            .then(data => {
                const urls = data.split('\n').filter(url => url.trim()); // Split URLs by newline and filter out empty lines
                if (urls.length > 0) {
                    urls.forEach(url => addUrlField(url));
                } else {
                    addUrlField('https://exemple.com');
                }
            })
            .catch(error => {
                console.error('Erreur de recherche des URL:', error);
                addUrlField('https://example.com');
            });
        };
    </script>
</body>
</html>
